<div class="posts-wrap">
    <div class="posts-list">
        <div class="posts-i">
            <a class="posts-i-img" href="post.html">
                <span style="background: url(http://placehold.it/354x236)"></span>
            </a>
            <time class="posts-i-date" datetime="2016-11-09 00:00:00"><span>30</span> Jan</time>
            <div class="posts-i-info">
                <a href="blog.html" class="posts-i-ctg">Reviews</a>
                <h3 class="posts-i-ttl">
                    <a href="post.html">Animi quaerat at</a>
                </h3>
            </div>
        </div>
        <div class="posts-i">
            <a class="posts-i-img" href="post.html">
                <span style="background: url(http://placehold.it/354x236)"></span>
            </a>
            <time class="posts-i-date" datetime="2016-11-09 00:00:00"><span>29</span> Jan</time>
            <div class="posts-i-info">
                <a href="blog.html" class="posts-i-ctg">Articles</a>
                <h3 class="posts-i-ttl">
                    <a href="post.html">Ex atque commodi</a>
                </h3>
            </div>
        </div>
        <div class="posts-i">
            <a class="posts-i-img" href="post.html">
                <span style="background: url(http://placehold.it/354x236)"></span>
            </a>
            <time class="posts-i-date" datetime="2016-11-09 00:00:00"><span>25</span> Jan</time>
            <div class="posts-i-info">
                <a href="blog.html" class="posts-i-ctg">News</a>
                <h3 class="posts-i-ttl">
                    <a href="post.html">Hic quod maxime deserunt</a>
                </h3>
            </div>
        </div>
    </div>
</div>