
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="fr-pop-wrap">

    <h3 class="component-ttl"><span>Popular products</span></h3>



    <div class="fr-pop-tab-cont">

        <p class="fr-pop-tab-mob active"></p>
        <div class="flexslider prod-items fr-pop-tab">

            <ul class="slides">

                <li class="prod-i">
                    <div class="prod-i-top">
                        <a href="product.html" class="prod-i-img"><!-- NO SPACE --><img src="http://placehold.it/250x350" alt="Aspernatur excepturi rem"><!-- NO SPACE --></a>
                        <p class="prod-i-info">
                            <a href="#" class="prod-i-favorites"><span>Wishlist</span><i class="fa fa-heart"></i></a>
                            <a href="#" class="qview-btn prod-i-qview"><span>Quick View</span><i class="fa fa-search"></i></a>
                            <a class="prod-i-compare" href="#"><span>Compare</span><i class="fa fa-bar-chart"></i></a>
                        </p>
                        <p class="prod-i-addwrap">
                            <a href="#" class="prod-i-add">Go to detail</a>
                        </p>
                    </div>
                    <h3>
                        <a href="product.html">Aspernatur excepturi rem</a>
                    </h3>
                    <p class="prod-i-price">
                        <b>$90</b>
                    </p>
                    <div class="prod-i-skuwrapcolor">
                        <ul class="prod-i-skucolor">
                            <li class="bx_active"><img src="~/Content/User/img/color/red.jpg" alt="Red"></li>
                            <li><img src="~/Content/User/img/color/blue.jpg" alt="Blue"></li>
                        </ul>
                    </div>
                </li>


            </ul>

        </div>


    </div><!-- .fr-pop-tab-cont -->


</div>